<div class="main" id="main">
  <div class="" id="content">
    <div class="d-flex align-items-center justify-content-center">
      <div class="container-lg container-fluid" style="position: absolute; top: 30px;z-index: 99;">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="top">
              <div class="top_nav">
                <img src="assets/images/logo.png" class="img-fluid" />
                <div class="nav_items">
                  <p><a href="#content"></a>Home</p>
                </div>
                <div class="nav_items">
                  <p><a href="#about_section">About</a></p>
                </div>
                <div class="nav_items">
                  <p><a href="#services_section">Services</a></p>
                </div>
                <div class="nav_items">
                  <p><a href="#contact_section">Contact</a></p>
                </div>
                <!-- <div class="menu">
                <i class="ri-menu-line"></i>
              </div> -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
<!-- 
      <div class="mobile_nav">

      </div> -->


    </div>

    <div class="container-fluid back">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="curent_center">
            <div class="d-flex align-items-center justify-content-center">
              <div class="center_box">
                <p class="">
                  We design application that matter, user's can't resist
                </p>
              </div>
            </div>
            <div class="ceter_title">
              <p class="title_anime">
                Transform Your <span>Business</span> with <br /><span>Advanced </span>Technologies
              </p>
            </div>
            <div class="sub_text">
              <p class="title_anime">
                In order for a business to strive and to meet its planned
                objectives, supporting IT is not just <br />
                enough but strategically led and proactively managed IT.
              </p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="web_button">
                <p>Book a Demo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-images">
          <div class="ban-1">
            <img src="assets/images/ban-1.png" class="img-fluid" />
          </div>
          <div class="ban-2">
            <img src="assets/images/ban-2.png" class="img-fluid" />
          </div>

          <div class="ban-3">
            <img src="assets/images/ban-3.png" class="img-fluid" />
          </div>

          <div class="ban-4">
            <img src="assets/images/ban-4.png" class="img-fluid" />
          </div>

          <div class="ban-5">
            <img src="assets/images/ban-5.png" class="img-fluid" />
          </div>

          <div class="ban-6">
            <img src="assets/images/ban-6.png" class="img-fluid" />
          </div>
        </div>

        <div class="dashboard">
          <img src="assets/images/dashboard.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p class="title_anime">Our Trusted Clients</p>
    </div>
    <section class="pin_section">
      <div class="pin_content pin_content_1">
        <img src="assets/images/logo1.png" class="logo" />
        <img src="assets/images/logo2.png" class="logo" />
        <img src="assets/images/logo3.png" class="logo" />
        <img src="assets/images/logo4.png" class="logo" />
        <img src="assets/images/logo5.png" class="logo" />
        <img src="assets/images/logo2.png" class="logo" />
        <img src="assets/images/logo3.png" class="logo" />
        <img src="assets/images/logo4.png" class="logo" />
        <img src="assets/images/logo5.png" class="logo" />
      </div>

      <div class="pin_content_2 pin_content">
        <img src="assets/images/logo1.png" class="logo" />
        <img src="assets/images/logo2.png" class="logo" />
        <img src="assets/images/logo3.png" class="logo" />
        <img src="assets/images/logo4.png" class="logo" />
        <img src="assets/images/logo6.png" class="logo" />
        <img src="assets/images/logo7.png" class="logo" />
        <img src="assets/images/logo8.png" class="logo" />
        <img src="assets/images/logo9.png" class="logo" />
        <img src="assets/images/logo10.png" class="logo" />
      </div>
    </section>
  </div>
</div>

<!-- Digital Start -->
<div class="container-lg container-fluid">
  <div class="row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p class="title_anime">Evolution</p>
      <h6 class="title_anime">
        Transforming <span>Ideas</span> Into <br />
        <span>Digital</span> Impact
      </h6>
    </div>
    <div class="col-md-6 col-12">
      <div class="digi_card">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-1.png" class="img-fluid" style="width: 100%" />
            <div class="sub_cards">
              <img src="assets/images/card_1.png" class="img-fluid card_1" />
              <img src="assets/images/card_2.png" class="img-fluid card_2" />
              <img src="assets/images/card_3.png" class="img-fluid card_3" />
              <img src="assets/images/card_4.png" class="img-fluid card_4" />
              <img src="assets/images/card_5.png" class="img-fluid card_5" />
            </div>
          </div>
        </div>
        <h6>Design-led transformation From brand to experience</h6>
        <p>
          We partner with businesses to align strategy, creativity, and
          technology transforming brands into experiences that inspire trust and
          drive
        </p>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="digi_card">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-2.png" class="img-fluid" style="width: 100%" />
          </div>
        </div>
        <h6>Insight — Do 100x More. Do It Yourself.</h6>
        <p>
          Unleash your potential with tools designed to accelerate work,
          automate tasks, and deliver results at scale
        </p>
      </div>
    </div>
  </div>
  <div class="row ser mt-4">
    <div class="col-md-4 col-12">
      <div class="digi_card" style="padding: 0px">
        <!-- <span> </span>
        <span> </span>
        <span> </span>
        <span> </span> -->
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-3.png" class="img-fluid" style="width: 100vw" />
          </div>
        </div>
        <div class="" style="padding: 20px 15px">
          <h6>Insight — Do 100x More. Do It Yourself.</h6>
          <p>
            Unleash your potential with tools designed to accelerate work,
            automate tasks, and deliver results..
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12">
      <div class="digi_card" style="padding: 0px">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-4.png" class="img-fluid" style="width: 100vw" />
          </div>
        </div>
        <div class="" style="padding: 20px 15px">
          <h6>Bridging Physical and Digital Worlds.</h6>
          <p>
            Our platforms empower you to reimagine how people, processes, and
            technology interact...
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12">
      <div class="digi_card" style="padding: 0px">
        <!-- <span> </span>
        <span> </span>
        <span> </span>
        <span> </span> -->
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-5.png" class="img-fluid" style="width: 100vw" />
          </div>
        </div>
        <div class="" style="padding: 20px 15px">
          <h6>Secure. Reliable. Assured.</h6>
          <p>
            We empower organizations with secure, transparent, and reliable
            digital solutions designed to inspire ..
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Digital end -->

<!-- About Section Start -->

<div class="container-lg container-fluid" id="about_section">
  <div class="row d-flex align-items-center justify-content-center flex-column flex-md-row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p class="title_anime">Shaping the Future</p>
      <h6 class="title_anime">
        Driving Digital Transformation <br />
        <span>End</span>-to-<span>End</span>
      </h6>
    </div>

    <div class="col-md-6">
      <div class="head-titles d-flex align-items-start justify-content-center flex-column">
        <p style="margin-left: 70px">About Us</p>
        <h6 style="text-align: start">
          Building sites, <br />
          end-to-end
        </h6>
      </div>

      <div class="about active">
        <div class="sub_about">
          <div class="star">
            <img src="assets/images/star.png" class="img-fluid" />
          </div>
          <div class="about_tit">
            <h6>IT Tower for Digital transformations</h6>
            <p>
              Commenced focused IT service tower for Digital transformations
            </p>
          </div>
        </div>
      </div>

      <div class="about">
        <div class="sub_about">
          <div class="star">
            <img src="assets/images/star.png" class="img-fluid" />
          </div>
          <div class="about_tit">
            <h6>LearnEngg</h6>
            <p>
              Infoplus to Acquire Leading E-Learning Company www.learnengg.com
            </p>
          </div>
        </div>
      </div>

      <div class="about">
        <div class="sub_about">
          <div class="star">
            <img src="assets/images/star.png" class="img-fluid" />
          </div>
          <div class="about_tit">
            <h6>3DM Engineering</h6>
            <p>
              Acquired 3DM Engineering. Extended our business to Kazakhstan by
              signing with ETS Elettra Energia, an Italian Engineering and Field
              Services company
            </p>
          </div>
        </div>
      </div>
      <div class="about">
        <div class="sub_about">
          <div class="star">
            <img src="assets/images/star.png" class="img-fluid" />
          </div>
          <div class="about_tit">
            <h6>SmartEMS System</h6>
            <p>
              SmartEMS system was selected as the winning bidder and awarded the
              project for implementation at Jawaharlal Nehru Technological
              University Hyderabad
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-center">
        <div class="right_images">
          <img id="right_image" src="assets/images/about-1.png" class="img-fluid" />
        </div>
      </div>
    </div>

    <div class="row custom_wraper" style="overflow: hidden;">
      <img src="assets/images/3d.png" class="img-fluid three" />
      <img src="assets/images/3d2.png" class="img-fluid three3d" />
      <div class="custom-shape">
        <div class="col-lg-6 d-none d-lg-block">
          <div class="d-flex align-items-center justify-content-center cus">
            <p>
              A global leader in next-generation digital<br />
              services and consulting
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="about-over">
            <div class="about-de">
              <div class="nu">
                <p>4000</p>
              </div>
              <div class="name">
                <p>Projects Launched</p>
              </div>
            </div>

            <div class="about-de">
              <div class="nu">
                <p>20</p>
              </div>
              <div class="name">
                <p>Year Experience</p>
              </div>
            </div>

            <div class="about-de">
              <div class="nu">
                <p>120</p>
              </div>
              <div class="name">
                <p>Satisfied Customers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section End -->

<div class="container-lg container-fluid" id="services_section">
  <div class="row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p class="title_anime">Our Solutions</p>
      <h6 class="title_anime">
        Innovating Across <span>Industries</span><br />
        Digital<span>Solutions</span>
      </h6>
    </div>

    <!-- <div class="sa_catager">
      <div class="sa_first">
        <img src="assets/images/1.svg" class="img-fluid" />
      </div>
      <div class="sa_second">
        <img src="assets/images/2.svg" class="img-fluid" />
      </div>
      <div class="sa_thired">
        <div class="" style="
            width: 100%;
            height: 350px;
            overflow: hidden;
            border-radius: 20px;
          ">
          <img src="assets/images/3.svg" class="img-fluid" style="width: 100%" />
        </div>
        <img src="assets/images/6.svg" class="img-fluid mt-3" style="width: 100%" />
      </div>

      <div class="sa_fivth">
        <img src="assets/images/4.svg" class="img-fluid" style="width: 100%; height: auto" />
      </div>
      <div class="sa_sixth">
        <img src="assets/images/5.svg" class="img-fluid" style="width: 100%; height: auto" />
      </div> -->

    <div class="sa_catager">
      <div class="sa_first">
        <img src="assets/images/1.svg" />
      </div>
      <div class="sa_second">
        <img src="assets/images/3.svg" style="width: 100%;" />
      </div>
      <div class="sa_thired">


        <img src="assets/images/2.svg" />
      </div>
      <div class="sa_fourth">
        <img src="assets/images/6.svg" class="mt-0" />
      </div>

      <div class="sa_fivth">
        <img src="assets/images/4.svg" />
      </div>
      <div class="sa_sixth">
        <img src="assets/images/5.svg" style="width: 100%;" />
      </div>
    </div>

  </div>
</div>



<div class="container-lg container-fluid mt-5 mb-5" style="
    background: url('assets/images/back.png');
    /* padding: 20px; */
    border-radius: 20px;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    overflow: hidden;
    ">
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block px-5">

      <div class="head-titles d-flex align-items-start justify-content-start flex-column">
        <p style="margin-left: 70px; color: white">Tools Use</p>
        <h6 style="text-align: start; color: white;margin-bottom: 10px;">
          Seamlessly Integrate with Your
          Favourite Tools
        </h6>
        <h5 style="color: #c8cacc; font-size: 16px">
          Seamless Integration, Real-Time Insights, Continuous Improvement
        </h5>
      </div>
      <div class="web_button d-flex align-items-start justify-content-start">
        <p>View All Integration</p>
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-evenly tools">
<!-- <div class=""style="overflow: hidden;margin: 0px 0px !important;"> -->

  <div class="d-flex align-items-center justify-content-center flex-column secound_slide" style="gap: 15px;">
    <img src="assets/images/logo/logo-1.png" class="img-fluid logoes">
    <img src="assets/images/logo/logo-2.png" class="img-fluid logoes">
    <img src="assets/images/logo/logo-3.png" class="img-fluid logoes">
    <img src="assets/images/logo/logo-4.png" class="img-fluid logoes">
    <img src="assets/images/logo/logo-5.png" class="img-fluid logoes">
    <img src="assets/images/logo/logo-6.png" class="img-fluid logoes">
  </div>
<!-- </div> -->
  


      <div class="first_slide d-flex align-items-center justify-content-center flex-column" style="gap: 15px;overflow: hidden;margin: 20px 0px;">
        <img src="assets/images/logo/logo-11.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-12.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-13.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-7.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-8.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-9.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-10.png" class="img-fluid logoes">
       
      </div>

      <div class="d-flex align-items-center justify-content-center flex-column secound_slide" style="gap: 15px;">
        
            <img src="assets/images/logo/logo-7.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-8.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-2.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-1.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-5.png" class="img-fluid logoes">
    
        <img src="assets/images/logo/logo-9.png" class="img-fluid logoes">

      </div>




      <!-- <div class="first_slide d-flex align-items-center justify-content-center flex-column" style="gap: 15px;">
        <img src="assets/images/logo/logo-2.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-6.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-8.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-9.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-2.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-3.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-2.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-3.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-4.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-5.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-6.png" class="img-fluid logoes">
        <img src="assets/images/logo/logo-7.png" class="img-fluid logoes">
      </div> -->




    </div>
  </div>
</div>

<section class="get" id="contact_section">


  <div class="container-lg container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="info_get">
          <div class="info_tit">
            <h6>Get in Touch with Us</h6>
          </div>
          <div class="info_sub">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, 
            </p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <input placeholder="Name" />
            </div>
            <div class="col-lg-6">
              <input placeholder="Mobile Number" />
            </div>
          </div>
          <input placeholder="Email Id" />
          <textarea placeholder="Submit your message "></textarea>

          <div class="web_button d-flex align-items-start justify-content-start">
            <p style="padding: 10px 50px">Submit</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right_con">
          <div class="right_con_tit">
            <h6>Contact Details</h6>
          </div>

          <div class="right_con_sub">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, 
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="">
                  <img src="assets/images/add.svg">
                </div>
                <div class="">
                  <div class="fe">
                    <p>Address</p>
                    <h6>1st Cross, Rammurthy naga,</h6>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="">
                  <img src="assets/images/mobile.svg">
                </div>
                <div class="">
                  <div class="fe">
                    <p>Mobile</p>
                    <h6>6383891982</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="">
                  <img src="assets/images/avi.svg">
                </div>
                <div class="">
                  <div class="fe">
                    <p>Availability</p>
                    <h6>Daily 09 am - 05pm</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="con d-flex align-items-start justify-content-start">
                <div class="">
                  <img src="assets/images/email.svg">
                </div>
                <div class="">
                  <div class="fe">
                    <p>Email</p>
                    <h6>customer&#64;gmail.com</h6>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <hr>
          <div class="d-flex align-items-center justify-content-between social">
            <p>Social media</p>
            <div class="icones">

              <img src="assets/images/you.svg" class="img-fluid">
              <img src="assets/images/fa.svg" class="img-fluid">
              <img src="assets/images/pin.svg" class="img-fluid">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</section>