<div class="main" id="main">
  <div class="" id="content">
    <div class="d-flex align-items-center justify-content-center">
      <div class="container" style="position: absolute; top: 30px;">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="top">
              <div class="top_nav">
                <img src="assets/images/logo.png" class="img-fluid" />
                <div class="nav_items">
                  <p>Home</p>
                </div>
                <div class="nav_items">
                  <p>About</p>
                </div>
                <div class="nav_items">
                  <p>Services</p>
                </div>
                <div class="nav_items">
                  <p>Contact</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid back">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="curent_center">
            <div class="d-flex align-items-center justify-content-center">
              <div class="center_box ">
                <p class="">We design application that matter, user's can't resist</p>
              </div>
            </div>
            <div class="ceter_title">
              <p class="title_anime">
                Transform Your <span>Business</span> with <br /><span>Advanced </span>Technologies
              </p>
            </div>
            <div class="sub_text">
              <p class="title_anime">
                In order for a business to strive and to meet its planned
                objectives, supporting IT is not just <br />
                enough but strategically led and proactively managed IT.
              </p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="web_button">
                <p>Book a Demo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-images">
          <div class="ban-1">
            <img src="assets/images/ban-1.png" class="img-fluid" />
          </div>
          <div class="ban-2">
            <img src="assets/images/ban-2.png" class="img-fluid" />
          </div>

          <div class="ban-3">
            <img src="assets/images/ban-3.png" class="img-fluid" />
          </div>

          <div class="ban-4">
            <img src="assets/images/ban-4.png" class="img-fluid" />
          </div>

          <div class="ban-5">
            <img src="assets/images/ban-5.png" class="img-fluid" />
          </div>

          <div class="ban-6">
            <img src="assets/images/ban-6.png" class="img-fluid" />
          </div>
        </div>

        <div class="dashboard">
          <img src="assets/images/dashboard.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row">

    <section class="pin_section">
      <div class="pin_content pin_content_1">
        <img src="assets/images/logo1.png" class="logo">
        <img src="assets/images/logo2.png" class="logo">
        <img src="assets/images/logo3.png" class="logo">
        <img src="assets/images/logo4.png" class="logo">
        <img src="assets/images/logo5.png" class="logo">
      </div>
      
      <div class="pin_content_2 pin_content"> 
         <img src="assets/images/logo1.png" class="logo">
        <img src="assets/images/logo2.png" class="logo">
        <img src="assets/images/logo3.png" class="logo">
        <img src="assets/images/logo4.png" class="logo">
        <img src="assets/images/logo6.png" class="logo">
        <img src="assets/images/logo7.png" class="logo">
        <img src="assets/images/logo8.png" class="logo">
        <img src="assets/images/logo9.png" class="logo">
        <img src="assets/images/logo10.png" class="logo">
      </div>
      
    </section>
  </div>
  </div> -->

<!-- Digital Start -->
<div class="container">
  <div class="row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p>Evolution</p>
      <h6>Transforming <span>Ideas</span> Into <br>
        <span>Digital</span> Impact
      </h6>
    </div>
    <div class="col-lg-6 ">
      <div class="digi_card">
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-1.png" class="img-fluid" style="width: 100%;">
            <div class="sub_cards">
              <img src="assets/images/card_1.png" class="img-fluid card_1">
              <img src="assets/images/card_2.png" class="img-fluid card_2">
              <img src="assets/images/card_3.png" class="img-fluid card_3">
              <img src="assets/images/card_4.png" class="img-fluid card_4">
              <img src="assets/images/card_5.png" class="img-fluid card_5">
            </div>
          </div>
        </div>
        <h6>Design-led transformation From brand to experience</h6>
        <p>We partner with businesses to align strategy, creativity, and technology transforming brands into experiences
          that inspire trust and drive</p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="digi_card">
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-2.png" class="img-fluid" style="width: 100%;">

          </div>
        </div>
        <h6>Insight — Do 100x More. Do It Yourself.</h6>
        <p>Unleash your potential with tools designed to accelerate work, automate tasks, and deliver results at scale
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <div class="digi_card" style="padding: 0px;">
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-3.png" class="img-fluid" style="width: 100vw;">

          </div>
        </div>
        <div class="" style="padding: 20px 15px;">
          <h6>Insight — Do 100x More. Do It Yourself.</h6>
          <p>Unleash your potential with tools designed to accelerate work, automate tasks, and deliver results..
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="digi_card" style="padding: 0px;">
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-4.png" class="img-fluid" style="width: 100vw;">

          </div>
        </div>
        <div class="" style="padding: 20px 15px;">
          <h6>Bridging Physical and Digital Worlds.</h6>
          <p>Our platforms empower you to reimagine how people, processes, and technology interact...
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="digi_card" style="padding: 0px;">
        <div class="di">
          <div class="digi_card_back">
            <img src="assets/images/card_back-5.png" class="img-fluid" style="width: 100vw;">

          </div>
        </div>
        <div class="" style="padding: 20px 15px;">
          <h6>Secure. Reliable. Assured.</h6>
          <p>We empower organizations with secure, transparent, and reliable digital solutions designed to inspire ..
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Digital end -->


<!-- About Section Start -->

<div class="container">
  <div class="row">
    <div class="head-titles d-flex align-items-center justify-content-center flex-column">
      <p>Shaping the Future</p>
      <h6>Driving Digital Transformation <br>
        <span>End</span>-to-<span>End</span>
      </h6>
    </div>

    <div class="col-lg-6">
      <div class="head-titles d-flex align-items-start justify-content-center flex-column">
        <p style="margin-left:70px;">About Us</p>
        <h6 style="text-align: start;">Building sites, <br>
          end-to-end
        </h6>
      </div>

      <div class="about active">
        <div class="star">
          <img src="assets/images/star.png" class="img-fluid">
        </div>
        <div class="about_tit">
          <h6>IT Tower for Digital transformations</h6>
          <p>Commenced focused IT service tower for Digital transformations</p>
        </div>
      </div>

      <div class="about">
        <div class="star">
          <img src="assets/images/star.png" class="img-fluid">
        </div>
        <div class="about_tit">
          <h6>LearnEngg</h6>
          <p>Infoplus to Acquire Leading E-Learning Company www.learnengg.com</p>
        </div>
      </div>

      <div class="about">
        <div class="star">
          <img src="assets/images/star.png" class="img-fluid">
        </div>
        <div class="about_tit">
          <h6>3DM Engineering</h6>
          <p>Acquired 3DM Engineering. Extended our business to Kazakhstan by signing with ETS Elettra Energia, an
            Italian Engineering and Field Services company</p>
        </div>
      </div>

      <div class="about">
        <div class="star">
          <img src="assets/images/star.png" class="img-fluid">
        </div>
        <div class="about_tit">
          <h6>SmartEMS System</h6>
          <p>SmartEMS system was selected as the winning bidder and awarded the project for implementation at Jawaharlal
            Nehru Technological University Hyderabad</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="d-flex align-items-center justify-content-center">
        <div class="right_images">
          <img src="assets/images/about-1.png" class="img-fluid">
        </div>

      </div>
    </div>
    <div class="row custom_wraper">
        <img src="assets/images/3d.png" class="img-fluid three">
        <img src="assets/images/3d2.png" class="img-fluid three3d">
      <div class="custom-shape">
      
        <div class="col-lg-6">
          <div class="d-flex align-items-center justify-content-center cus">
            <p>A global leader in next-generation digital<br>
              services and consulting</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="about-over">
            <div class="about-de">
              <div class="nu">
                <p>4000</p>
              </div>
              <div class="name">
                <p>Projects Launched</p>
              </div>
            </div>


            <div class="about-de">
              <div class="nu">
                <p>20</p>
              </div>
              <div class="name">
                <p>Year Experience</p>
              </div>
            </div>

            <div class="about-de">
              <div class="nu">
                <p>120</p>
              </div>
              <div class="name">
                <p>Satisfied Customers</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- About Section End -->