<div class="main">
  <div class="container-fluid back">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-8">
        <div class="curent_center">
          <div class="d-flex align-items-center justify-content-center">
            <div class="center_box">
              <p>We design application that matter, user's can't resist</p>
            </div>
          </div>
          <div class="ceter_title">
            <p>
              Transform Your <span>Business</span> with <br /><span
                >Advanced </span
              >Technologies
            </p>
          </div>
          <div class="sub_text">
            <p>
              In order for a business to strive and to meet its planned
              objectives, supporting IT is not just <br />
              enough but strategically led and proactively managed IT.
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
          <div class="web_button">
            <p>Book a Demo</p>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</div>
