.foot_left p{
    color: white;
    margin-top: 10px;
}

.foot_tit h6{
color: white;
font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 500;
margin-bottom: 20px;
}

.foot_text p{
    color: white;
    font-size: 14;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

@media screen and (min-width:380px) and (max-width:767px) {

.foot_tit{
    margin-top: 20px;
}
}

@media screen and (min-width:768px) and (max-width:992px) {
.foot_tit{
margin-top: 20px;
}

}

