<section style="overflow: hidden;">

    
    <div
    style="
    background: url('assets/images/footbac.png');
    width: 100vw;overflow: hidden;
    padding: 20px 0px;
    background-repeat: no-repeat;
  "
>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 foot_left">
        <img src="assets/images/logo.png" />
        <p>© 2024 Thunderbit Inc. All rights reserved.</p>
      </div>

      <div class="col-lg-2">
        <div class="foot_tit">
            <h6>Products</h6>
        </div>
        <div class="foot_text">
            <p>AI Web Clipper</p>
            <p>Summarize</p>
            <p>Pricing</p>
        </div>
      </div>

 <div class="col-lg-2">
        <div class="foot_tit">
            <h6>Company</h6>
        </div>
        <div class="foot_text">
            <p>Privacy Policy</p>
            <p>Terms of Service</p>
            <p>Contact</p>
        </div>
      </div>

       <div class="col-lg-2">
        <div class="foot_tit">
            <h6>Resource</h6>
        </div>
        <div class="foot_text">
            <p>Blog</p>
            <p>YouTube Channel</p>
            <p>Referral Program</p>
        </div>
      </div>


       <div class="col-lg-3">


        <div class="foot_tit">
            <h6>Tools</h6>
        </div>
        <div class="foot_text">
            <p>YouTube Summarizer</p>
            <p>Website Text Summarizer</p>
            <p>Free AI Blog Writer</p>
        </div>

</div>

    </div>
  </div>
</div>

</section>