
<div class="d-flex align-items-center justify-content-center">
<div class="container" style="position: fixed; top: 30px;">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="top">
        <div class="top_nav">
          <img src="assets/images/logo.png" class="img-fluid" />
          <div class="nav_items">
            <p>Home</p>
          </div>
          <div class="nav_items">
            <p>About</p>
          </div>
          <div class="nav_items">
            <p>Services</p>
          </div>
          <div class="nav_items">
            <p>Contact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>